@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  font-family: 'Inter', sans-serif;
}


/* Montserrat 
body {
  font-family: 'Montserrat', sans-serif;
}
*/


/* Libre Baskerville 
body {
  font-family: 'Libre Baskerville', serif;
}
*/

/* EB Garamond 
body {
  font-family: 'EB Garamond', serif;
}
*/

/*
body {
  font-family: 'IBM Plex Mono', monospace;
}
*/